@import '../../../assets/styles/variables';

.dashboard-main {
  width: 100%;
}

.dashboard-nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0;

  button {
    flex-grow: 1;
    text-align: center;
    padding: 0.75rem 1.5rem;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
    position: relative;
    color: $text-medium; // צבע טקסט רגיל
    transition: color 0.3s ease;

    &:hover {
      color: $primary-color; // שינוי צבע טקסט בהובר
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 3px;
      background: $border-color; // קו אפור לכל הכפתורים
      border-radius: 2px;
      transition: background 0.3s ease;
    }

    &.active {
      font-weight: bold;
      color: $primary-color; // טקסט הכפתור הפעיל

      &::after {
        background: $primary-color; // קו תחתון רק לכפתור הפעיל
      }
    }
  }
}
